
 <% if (tripDetails.owner.toString() === currentUser._id.toString()) { %>
  <a class="edit-place" href="/trip/<%= tripDetails._id %>/edit"> Edit Trip</a>
 <% } %>

<div class="place-details">
  <h1> <%= tripDetails.name %> </h1>

  <h3> <%= tripDetails.country %> </h3>

  <h4> <%= tripDetails.city %> </h4>

  <img src="<%= tripDetails.image %>">

  <h3> Post by:  <a href="/profile/<%=tripDetails.owner%>"><%= userDetails.fullName %></a></h3>
  <div class="place-description">
    <p> <%= tripDetails.story %> </p>
  </div>
</div>
