<h1 class="places-list-header"> Add a new Trip </h1>

<% if(typeof errorMessage !== "undefined") { %>
  <p class="error-message">
  <%= errorMessage %>
  </p>
<% } %>


<form id="form" method="post" action="/trip/<%= tripDetails._id %>">
  <label for="trip-place-input"> Place Name </label>
  <input id="trip-place-input" type="text" placeholder="e.g. Playa Caribe"
      name="tripName" value="<%= tripDetails.name %>"/>
  <br />

  <label for="trip-country-input"> Place Country </label>
  <input id="trip-country-input" type="text"
      placeholder=" e.g. Venezuela" name="tripCountry"
      value="<%= tripDetails.country %>" />
  <br />

  <label for="trip-city-input"> Place City </label>
  <input id="trip-city-input" type="text"
      placeholder=" e.g. Margarita" name="tripCity"
      value="<%= tripDetails.city %>" />
  <br />

  <label for="trip-image-input"> Image URL </label>
  <input id="trip-image-input" type="text"
    placeholder="e.g. https://example.com/paradise.gif" name="tripImage"
    value="<%= tripDetails.image %>" />
  <br />

  <h3> Current Image </h3>
  <img src="<%= tripDetails.image %>" width="100px;" />
  <br />

  <label for="trip-story-input"> Your Story </label>
  <textarea id="trip-story-input" placeholder="e.g. We had a great time....."
    name="tripStory" value="<%= tripDetails.story %>"></textarea>
  <br />

  <button> Save this Trip </button>
</form>


<a  class="delete" href="/trip/<%= tripDetails._id %>/delete">
  Delete
</a>
