<a class="edit-place" href="/places/<%= placeDetails._id %>/edit"> Edit Place</a>

<div class="place-details">
  <h1> <%= placeDetails.name %> </h1>

  <h3> <%= placeDetails.country %> </h3>

  <h4> <%= placeDetails.city %> </h4>

  <img src="<%= placeDetails.image %>">
  <div class="place-description">
    <p> <%= placeDetails.description %> </p>
  </div>
</div>

<h2 class="places-list-header"> Trips to this place </h2>
